<html>
  <head>
    <title>Labyrinth</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
    <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script> -->
    <script src='/static/javascript/main.js'></script>
  </head>
  <body>
    <h1>Hello, labyrinth!</h1>
    <p>
      <%# TODO: href를 user의 progress에 따라 다르게 로딩하기%>
      <a href="<%= currProblemUrl %>">현재 문제로 가기</a>
    </p>
    <p>
      이전 문제 목록
    </p>
    <%# TODO: 이전 문제들을 user의 progress에 따라 다르게 로딩하기%>
    <% for (let i = 0; i < problems.length; i++) { %>
      <span><a href="/problems/<%= problems[i].number %>"><%= problems[i].number %></a></span>
    <% } %>
  </body>
</html>
