<html>
  <head>
    <title>Labyrinth</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
    <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script> -->
    <script src='/static/javascript/problem.js'></script>
    <link rel="stylesheet" type="text/css" href="/static/css/problem.css" />
  </head>
  <body>
    <p class="right_align_wrapper">
      <a href="/main">go to main</a>
    </p>
    <div class="right_align_wrapper">
      <span id="timer" style="float: right">00:00:00</span>
    </div>
    <br />
    <img src="/static/problemImages/<%= problem.imageName %>" width="800"/>
    <br />
    <p>힌트</p>
    <div id="hints"></div>
    <input type="text" id="answer_input" />
    <button type="button" id="submit_btn">제출</button>
    <div id="footer">
      <span>Created by 새내기프로그램디자이너 & SPARCS</span>
    </div>
  </body>
</html>
