@font-face {
  font-family: "흑백영화";
  src: url("font.ttf") format("truetype"), url("font.woff") format("woff");
}

body {
  background-color: #000000;
  color: #ffffff;
  padding-top: 250px;
  text-align: center;
  position: relative;
  padding-bottom: 50px;
  font-family: 흑백영화;
}

#login_input_div {
  height: 100px;
  vertical-align: center;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
