@font-face {
  font-family: "흑백영화";
  src: url("font.ttf") format("truetype"), url("font.woff") format("woff");
}

body {
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  position: relative;
  padding-top: 200px;
  padding-bottom: 50px;
  font-family: 흑백영화;
}

a:link, :visited {
  color: #ff0000;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
