@font-face {
  font-family: "흑백영화";
  src: url("font.ttf") format("truetype"), url("font.woff") format("woff");
}

body {
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  position: relative;
  padding-bottom: 50px;
  font-family: 흑백영화
}

h1 {
  margin-top: 100px;
}

.right_align_wrapper {
  text-align: right;
}

a:link, :visited {
  color: #ff0000;
}

#to_current_problem {
  margin-top: 100px;
  font-size: 32px;
}

#past_problem_list {
  font-size: 20px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
